<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinetracker.spinetracker.domain.posture.query.domain.repository.PostureLogMapper">
    <resultMap id="PostureLogMap" type="com.spinetracker.spinetracker.domain.posture.query.application.dto.FindPostureLogDTO">
        <id property="id" column="id" />
        <result property="postureTag" column="posture_tag"/>
        <result property="date" column="date" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
    </resultMap>

    <select id="findDailyPosture" resultMap="PostureLogMap" parameterType="Map">
        SELECT *
        FROM
            POSTURE_LOG_TB
        WHERE
            member_id = #{memberId}
        AND
            date = #{todayDate}
        ORDER BY
            start_time
    </select>

    <select id="findWeekly" resultMap="PostureLogMap" parameterType="Map">
        SELECT *
        FROM
            POSTURE_LOG_TB
        WHERE
            member_id = #{memberId}
          AND
            date
                BETWEEN
                    #{startDate}
                AND
                    #{endDate}
        ORDER BY
            start_time
    </select>
</mapper>