<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spinetracker.spinetracker.domain.member.query.domain.repository.MemberInfoMapper">
    <resultMap id="MemberInfoMap" type="com.spinetracker.spinetracker.domain.member.command.application.dto.FindMemberInfoDTO">
        <id property="id" column="id/"/>
        <result property="gender" column="gender"/>
        <result property="birthdate" column="birth_date"/>
        <result property="job" column="job"/>
    </resultMap>

    <select id="isAddedInformation" resultType="_boolean">
        SELECT
                gender IS NULL
                AND birth_date IS NULL
                AND job IS NULL
          FROM
                MEMBERINFO_TB
          WHERE
                member_id = #{id}
    </select>
</mapper>