<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spinetracker.spinetracker.domain.board.query.domain.repository.BoardMapper">
    <resultMap id="BoardMap" type="com.spinetracker.spinetracker.domain.board.query.application.dto.FindPostDTO">
        <id property="id" column="id"/>
        <result property="writerId" column="writer"/>
        <result property="content" column="content"/>
        <result property="productId" column="product_id"/>
    </resultMap>

    <select id="findAllPost" resultMap="BoardMap">
        SELECT
                id
              , writer
              , content
              , product_id
          FROM
                BOARD_TB
          WHERE
                board_is_deleted = false
          ORDER BY created_date
    </select>
</mapper>